.ui.top.attached.menu
    a.item(href="/")
        h1
            i.icon.green.pagelines
            | Talentree
    .labeled.icon.right.menu
        a.item(href="/project/new")
            i.ui.icon.large.red.lightning
            | New Project
        +loginButtons
