.nav-bar
    p #{currentUser.profile.firstName} #{currentUser.profile.lastName}
    img.ui.small.image(src="http://cdn3.rd.io/user/no-user-image-square.jpg")
    .ui.star.rating.huge
    ul
    each navOptions
        li(class=classes)
            a(href=href data-tab=value)= name
