.ui.stackable.grid
  .three.wide.column
      +userNavBar(selectedLink="Portfolio")
  .thirteen.wide.column
    h1 Portfolio
    .ui.pointing.secondary.menu
      each tabs
        a.item(class=classes data-tab=value)= label
      button#upload.ui.basic.button Upload
    .ui.three.stackable.cards
      each filteredSubmissions
        +submissionItem
+uploadModal