.ui.stackable.grid
  .three.wide.column
      +userNavBar(selectedLink="Projects")
  .thirteen.wide.column
    .ui.pointing.secondary.menu
      each tabs
        a.item(class=classes data-tab=value)= label
    if noProjects
      h2 There is not much to see yet!
      p.
        My Projects is the palce where you will find 
        projects you are currently working on<br />
        You can toggle the top navigation bar to see
        all projects have been organised into different
        status.
    else
      each filteredProjects
        +projectItem