.ui.card
  .image
  .content
    if bounty
      .right.floated.meta
        span(style="color: #21BA45;")= moneyFormat(bounty)
    .header
      a(href="/project/#{_id}")= name
    .description= description
  .extra.content
    span.right.floated
      p= dateFormat(submissionDate)
    p= projectType