if isModalActive
  .ui.modal.active
    .content
      h2 Submit For Collaboration
      .two.fields
        .field
          label Talent
          select.talent-selector
            each talentOptions
              option(value=value selected="#{isSelectedTalent value}")= name
        .field
          label Subtalent
          select.subtalent-selector
            each subtalentOptions
              option(value=value selected="#{isSelectedSubtalent value}")= name
      h3 Select Submissions
      .ui.cards
        each submissions
          +submissionItem
    .actions
      button#submit.ui.button Submit
      button#close.ui.button Close

