.ui.stackable.grid.inverted
  .eight.wide.column
    h1= name
    h2 Submitted: 
      span= dateFormat(submissionDate)
    button.ui.button.participate-button Participate
  .eight.wide.column
    i.huge.icon(class=getIconType)
    div= projectType
    if bounty
      div(style="color: #21BA45;")= moneyFormat(bounty)
        span bounty

.ui.pointing.secondary.menu
  each tabs
    a.item(class=classes data-tab=value)= label

if isSelectedTab "Details"
  .ui.three.stackable.cards
    each exampleItems
      +submissionItem
  h3 Description
  div= description
  h3 Collaboration Required
  ul
  each collaborators
    li.collaborator(data-talent="#{talent}" data-subtalent="#{subtalent}") #{talent} - #{subtalent}
if isSelectedTab "Submissions"
  each userSubmissions
    h3= userName
    h4 #{talent} - #{subtalent}
    .ui.cards
      each submissions
        +submissionItem
if isSelectedTab "Chat"
  +chappForm

+submitModal