.card(style="width: 300px;" data-submission-id=_id)
  .image
    if isFormat "Video"
      if getVideoSource
        iframe(src=getVideoSource width="300" height="300")
    if isFormat "Audio"
      if getAudioSource
        iframe(src=getAudioSource width="300" height="300")
    if isFormat "Image"
      img(src=getImageUrl)
  .content
    .description
      p= description